/Code
/.vscode
**/**-blx.bib
**/**.run.xml
**/.vscode
**/_minted-bachelorarbeit
**/**.sty
**/**.toc
**/**.gitignore
**/Code/**
LaTeX/bachelorarbeit.synctex.gz
LaTeX/bachelorarbeit.log
LaTeX/bachelorarbeit.fdb_latexmk
.gitignore
