<mat-toolbar>
  <span class="app-title">
    BPMNGen
  </span>
  <span class="spacer"></span>
  <button mat-icon-button *ngIf="diagramUrl !== '';" 
  (click)="saveDiagram()" aria-label="Save diagram" matTooltip="Save diagram">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button *ngIf="diagramUrl !== '';" 
  (click)="exportDiagram()" aria-label="Export diagram" matTooltip="Export diagram">
    <mat-icon>file_download</mat-icon>
  </button>
  <button mat-icon-button *ngIf="diagramUrl !== '';" 
  (click)="deleteDiagram()" aria-label="Delete diagram" matTooltip="Delete diagram">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button (click)="openInfoPopup()" matTooltip="About">
    <mat-icon>info</mat-icon>
  </button>
</mat-toolbar>

<div class="main-container">
  <!-- Sidebar -->
  <mat-card class="sidebar-card" [class.collapsed]="sidebarCollapsed">
    <div class="sidebar-header">
      <mat-icon matTooltip="Close sidebar" matTooltipShowDelay="500" (click)="toggleSidebar()">menu</mat-icon>
      <div class="sidebar-title" *ngIf="!sidebarCollapsed">
          <mat-card-title>Available Diagrams</mat-card-title>
      </div>
    </div>
    <!-- Diagram List -->
<div class="content" *ngIf="!sidebarCollapsed">
  <mat-list>
    <mat-list-item>
      <mat-card-title>Last 7 days</mat-card-title>
    </mat-list-item>
        <div *ngFor="let file of files; let i = index">
      <mat-list-item matTooltip="{{file.title}}" matTooltipShowDelay="500" matTooltipPosition="above" (click)="onFileClick(file)">
        {{ file.title }}
        <p class="file-time">{{file.time | date:'dd.MM.y, HH:mm':'CET'}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- Check if the next file is older than one week and the current file is not -->
      <div *ngIf="i < files.length - 1 && isOlderThanOneWeek(files[i + 1].time) && !isOlderThanOneWeek(file.time)">
        <mat-list-item>
          <mat-card-title>Last 30 days</mat-card-title>
        </mat-list-item>
      </div>
      <!-- Check if the next file is older than 30 days and the current file is not -->
      <div *ngIf="i < files.length - 1 && isOlderThanThirtyDays(files[i + 1].time) && !isOlderThanThirtyDays(file.time)">
        <mat-list-item>
          <mat-card-title>Older than 30 days</mat-card-title>
        </mat-list-item>
      </div>
    </div>
  </mat-list>
</div>
<mat-card-actions *ngIf="!sidebarCollapsed">
  <button mat-fab extended class="new-diagram-btn" aria-label="Create diagram" (click)="onFileClick('new')">
    <mat-icon>add</mat-icon>
    New Diagram
  </button>
</mat-card-actions>
</mat-card>
  <!-- Diagram rendering -->
  <div class="diagram-parent">
    <app-diagram #diagramComp [url]="diagramUrl" (importDone)="handleImported($event)"></app-diagram>

    <div class="import-error" *ngIf="importError">
      <strong>Failed to render diagram:</strong>
      {{ importError.message }}
    </div>
  </div>

  <!-- ChatGPT -->
  <mat-card class="chat-card">
    <div class="content">
      <mat-card-header>
        <mat-card-title>{{diagramTitle}}</mat-card-title>
      </mat-card-header>
      <!-- Chat history -->
      <mat-card-content class="chat-messages">
        <div *ngFor="let message of instructions">
          <p class="instruction-text">{{message}}</p>
        </div>
      </mat-card-content>
    </div>
    <!-- Chat entry -->
    <mat-card-actions>
      <div class="chat-entry">
        <mat-form-field appearance="outline" *ngIf="diagramUrl != ''">
          <textarea matInput [(ngModel)]="diagramUpdates" 
                    placeholder="Enter text" 
                    cdkTextareaAutosize 
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="16"
                    (keydown.enter)="sendUpdate()"></textarea>
          <button mat-icon-button matSuffix matTooltip="Send" matTooltipShowDelay="500" matTooltipPosition="above" (click)="sendUpdate()" *ngIf="diagramUrl != ''">
            <mat-icon class="send-icon">send</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-card-actions>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>
    <p class="error-message" *ngIf="error">Something went wrong with the OpenAI API. Further updates may result in odd behavior. Please try again.</p>
  </mat-card>
</div>
