mat-toolbar {
  color: var(--secondary-bg);
  background-color: var(--primary-bg);
}

.app-title {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-family: Inter, sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  font-weight: 600;
  margin-left: 5px;
}

.app-title .highlight {
  color: var(--secondary-bg-light);
}

.spacer {
  flex: 1 1 auto;
}

.main-container {
  display: flex;
  height: calc(100vh - 64px);
  background-color: var(--primary-bg);
}

.sidebar-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;

  width: 300px;
  color: var(--secondary-bg);
  background-color: var(--secondary-fg);
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.15);
  transition: width 0.3s ease, background-color 0.3s ease;
  margin-bottom: 10px;
}

.sidebar-card.collapsed {
  width: 45px;
  background-color: var(--secondary-bg-light);
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: var(--secondary-fg);
  background-color: var(--secondary-bg-light);
  padding: 10px;
}

.sidebar-header mat-icon {
  padding-top: 4px;
}

.sidebar-header .delete-icon {
  scale: 0.9;
}

.sidebar-title {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-title mat-card-title {
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.mdc-list {
  overflow-y: auto;
  flex-grow: 1;
  padding: 0;
}

.mdc-list-item {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding-top: 15px;
}

mat-list-item:hover {
  cursor: pointer;
  background-color: var(--primary-bg);
}

.file-time {
  font-size: 0.8em;
  text-align: right;
  color: var(--secondary-bg-light);
}

.new-diagram-btn {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: var(--accent-bg);
  box-shadow: 0px 4px 6px rgba(0,0,0,0.15) !important;
  border-radius: 25px;
  padding: 5px;
  margin: 15px;
}

.diagram-parent {
  position: relative;
  height: auto;
  flex-grow: 1;

  background-color: var(--secondary-fg);
  box-shadow: 0px 4px 6px rgba(0,0,0,0.15);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 12px;
  margin-top: 0;
}

.import-error {
  position: absolute;
  top: 0;
  left: 0;

  color: var(--warn);
  padding: 20px;
}

.chat-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  max-width: 300px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.15);
  padding: 0 10px;
  margin-bottom: 10px;
}

.chat-messages {
  overflow-y: auto;
  top: 0;
  padding: 10px;
}

.instruction-text {
  position: relative;
  align-self: flex-end;
  overflow-y: auto;
  word-wrap: break-word;

  max-width: 255px;
  color: var(--secondary-fg);
  line-height: 24px;
  background: var(--accent-bg);
  border-radius: 25px;
  border-bottom-right-radius: 10px;

  padding: 10px 20px;
  margin-bottom: 12px;
  
  &:before, &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
  }
}

.chat-entry {
  padding-top: 12px;
}

.send-icon {
  color: var(--accent-bg);
}

.error-message {
  color: var(--warn);
  font-size: 10px;
  margin-left: 10px;
}
