mat-dialog-content p {
    margin-bottom: 10px;
}

.confirm-btn {
    background-color: var(--warn);
    color: var(--secondary-fg) !important;
}

.cancel-btn {
    background-color: var(--secondary-bg);
    color: var(--secondary-fg) !important;
}
