mat-form-field {
    width: 550px;
    height: 300px;
    padding: 5px;
    margin: 5px;
}

.cancel-btn {
    color: var(--warn) !important;
}

.cancel-btn:hover {
    background-color: var(--warn-sheer);
}

.confirm-btn {
    color: var(--accent-bg) !important;
}

.confirm-btn:hover {
    background-color: var(--accent-bg-sheer);
}

.info-text {
    color: var(--secondary-bg);
    font-size: 14px;
    margin-top: 10px;
}

.error-message {
    color: var(--warn);
    font-size: 10px;
    margin-left: 20px;
}
