<h1 mat-dialog-title>Create a new Diagram</h1>
<mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Enter a business process description.</mat-label>
        <textarea matInput [(ngModel)]="diagramInstructions"
                  cdkTextareaAutosize 
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="16"
                  (keydown.enter)="createDiagram()"></textarea>
    </mat-form-field>
    <p>Best practice: Form a rough outline of your process,<br> you can always add more information later, or make changes by yourself.<br> A detailed description also works well, but may take longer to generate.</p>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="action-buttons">
        <button mat-stroked-button class="cancel-btn" (click)="onNoClick()">Cancel</button>
        <button mat-stroked-button class="confirm-btn" (click)="createDiagram()">Create</button>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>
</mat-dialog-actions>
<p class="error-message" *ngIf="error">Something went wrong with the OpenAI API. Please try again.</p>
